name: HACS Action

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  hacs:
    name: HACS Validation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: HACS Action
        uses: hacs/action@main
        with:
          category: integration
